@{
    var tasks = new List<String> { "Buy milk", "Buy eggs", "But bread" };
    Layout = "_TwoColumn";
}
@section Sidebar{
    <p>This is the sidebar content</p>
}

<h1>
    Tasks to complete
</h1>
<ul>

    @for (var i = 0; i < tasks.Count; i++)
    {
        var task = tasks[i];
        <li>@i-@task</li>
    }
</ul>
<p>
    Copyright @DateTime.Now.Year &copy;
</p>
<footer>
    <system-info add-machine="false" add-os="true"></system-info>
</footer>
@await Component.InvokeAsync("Recipes", new { numberOfRecipes = 3 })
